.container {
  position: relative;

  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}
.horizontal {
  .largeIcon {
    top: 28mm;
  }
}

.assets {
  position: absolute;
  height: 100%;
  top: -0mm;
  left: -0mm;
  right: -0mm;
  bottom: -0mm;
}

.vertical {
  .assets {
    right: -0.5mm;
  }
}

.assetsContainer {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bleed .assets {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

.body {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0mm;
  right: 0mm;
  bottom: 0mm;
}

.bleed .body {
  bottom: 0mm;
}

.corner {
  position: absolute;
  z-index: 4;
  height: 30mm;
  left: 0;
  top: 0;
}

.icon {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  left: 4.21mm;
  top: 3.8mm;
  font-size: 8.1mm;
  width: 8.85mm;
  height: 8.85mm;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    opacity: 0.4;
  }
  .vertical & {
    top: 4.14mm;
    left: 4.22mm;
    width: 8.7mm;
    height: 8.7mm;
    font-size: 8.0mm;
  }

  &.return:before {
    content: '';
    display: block;
    position: absolute;
    left: 0.17mm;
    right: 0.17mm;
    top: 0.17mm;
    bottom: 0.17mm;
    border-radius: 50%;
    border: 0.75mm solid currentColor;
    background-color: white;

    .vertical & {
      top: 0.16mm;
      left: 0.16mm;
      right: 0.16mm;
      bottom: 0.16mm;
      border-width: 0.7mm;
    }
  }

  &.return.rttcu:before {
    border-width: 0.64mm;
    .vertical & { border-width: 0.6mm; }
  }

  &.return_to_the_dunwich_legacy:before {
    border-width: 0.64mm;
    .vertical & { border-width: 0.6mm; }
  }

  &.return_to_city_of_archives:before {
    border-width: 0.64mm;
    .vertical & { border-width: 0.6mm; }
  }

  &.rtnotz:before {
    border-width: 0.54mm;
    .vertical & { border-width: 0.54mm; }
  }

  &.return_to_the_midnight_masks:before {
    border-width: 0.665mm;
    .vertical & { border-width: 0.625mm; }
  }


}

.largeIcon {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  font-size: 43mm;
  color: black;
  opacity: 0.04;
  cursor: pointer;
  &:hover {
    opacity: 0.02;
  }
}

.vertical, .verticalXL {
  .largeIcon {
    top: 36mm;
    font-size: 36mm;
  }
}

.campaignIcon {
  position: absolute;
  z-index: 3;
  right: 5.2mm;
  top: 5.4mm;
  font-size: 5.6mm;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }

  &.return {
    width: 5.8mm;
    height: 5.8mm;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0mm;
      right: 0mm;
      top: 0mm;
      bottom: 0mm;
      border-radius: 50%;
      border: 0.3mm solid currentColor;
      background-color: black;
    }
  }
}

.storyTitle {
  font-family: "AGaramondPro", "Arno Pro", serif;
  font-weight: bold;
  font-size: 3mm;
  line-height: 1;
  position: absolute;
  z-index: 3;
  left: 15.3mm;
  right: 14mm;
  top: 4.5mm;
  height: 1em;
  color: white;
  filter: drop-shadow(0 8px 13px rgba(0, 0, 0, 0.47));
}

.title {
  font-family: 'Arkhamic', "Teutonic", sans-serif;
  font-size: 4mm;
  filter: drop-shadow(0 2.5px 1px rgba(0, 0, 0, 0.5));
  font-size: 5mm;
  position: absolute;
  z-index: 3;
  left: 15.3mm;
  right: 14mm;
  top: 6mm;
  height: 1em;
  color: white;
  &_withStory {
    top: 7.7mm;
  }
}

.storyTitleInput, .titleInput {
  text-align: left;
  &:hover, &:focus {
    outline-color: rgba(255, 255, 255, 0.3);
  }
}

.titleClear {
  color: white;
  right: 0em;
}

.factionIcon {
  position: absolute;
  z-index: 3;
  left: 5.2mm;
  top: 4.7mm;
  height: 8mm;
  width: 8mm;
  object-fit: contain;
}

.xp {
  position: absolute;
  z-index: 3;
  right: 4.5mm;
  top: 4.2mm;
  width: 8.5mm;
  height: 8.5mm;
  border-radius: 50%;
  object-fit: contain;
}

.xpInner {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.xpValue {
  font-family: 'Arkhamic', sans-serif;
  position: absolute;
  z-index: 3;
  top: 0.3mm;
  left: 1.4mm;
  width: 5.7mm;
  height: 5.7mm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3mm;
  line-height: 1;
  color: white;
  text-shadow: 0 0 1mm rgba(0, 0, 0, 0.4);
}

.xpLevels {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 1mm;
  font-size: 7mm;
}

.lightLevel {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  bottom: 0;
}

.maxLevel {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  color: #646464;
  bottom: 0;
}

.cornerRadius {
  position: absolute;
  z-index: 4;
  border-color: red;
}

.menu {
  position: absolute;
  z-index: 4;
  border-color: red;
  top: 18mm;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}